---
layout: default
---

<script>
    const queryTagName = "tag"
    function getQueryString(name) {
        let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        let r = window.location.search.substr(1).match(reg);
        if (r != null) {
            return decodeURIComponent(r[2]);
        };
        return null;
    }



</script>

<style>
    .post-card {
        transition: 0.3s;
        border-radius: 5px;
        box-shadow: 0 0 0px 1px #07a;
        /* background-color: white; */
        padding: 1% 3%;
        margin-bottom: 20px;
    }

    .post-card:hover {
        box-shadow: 0px 0px 3px 1px rgb(25, 46, 210);
        background-color: #f6f6f6;
    }

    .post-card-header {
        display: flex;
        justify-content: space-between;
    }
</style>

<h3>Associate Articles</h3>

{% for post in site.posts %}
<div style="display: none;">
    {% for tag in post.tags %}    
    <span tag="{{tag}}"></span>
    {% endfor %}

    {% if post.ignore %}
    <a href="javascript:alert('Not Allowed')">
    {% else %}
    <a href="{{ post.url }}">
    {% endif %}
        <div class="post-card">
            <div class="post-card-header">
                <h3 style="margin: 5px 3px;">{{ post.title }}</h3>
                <p style="margin: 5px 3px;">{{ post.date | date: "%Y-%m-%d" }}</p>
            </div>
            <hr width=70% size=1 align=left color=#bbbcbc style="margin: 10px 0px;">
            <div class="post-card-body">
                {% if post.description %}
                <p>{{ post.description }}</p>
                {% else %}
                <p>查看详情...</p>
                {% endif %}
            </div>
        </div>
    </a>
</div>
{% endfor %}