<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" style="scroll-behavior: smooth;">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="{{ '/assets/images/icon.png' | relative_url }}" type="image/png" />
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"
    media="screen" type="text/css">
  <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
  <link rel="stylesheet" href="{{ '/assets/css/customize.css' | relative_url }}" type="text/css">

  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180326024-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-180326024-1');
  </script>

  {% seo %}
</head>

<body>
  <header>
    <div class="inner">
      <a href="/">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
      </a>
      <h2>{{ site.description | default: site.github.project_tagline }}</h2>

      <a href="{{ site.githuburl }}" class="button"><small>Follow me on</small> GitHub</a>
      <input type="checkbox" class="cs_flipswitch" id="toggleThemeCheckbox" onclick="cs_toggleTheme()" />
    </div>
  </header>

  <div id="content-wrapper">
    <div class="inner clearfix">
      {% if page.tags %}
      <ul id="tags">
        Tag:
        {% for tag in page.tags %}
        <a class="cs_tag" href="/tag?t={{ tag }}">{{ tag }}</a>
        {% endfor %}
      </ul>
      {% endif %}
      <section id="main-content">
        {{ content }}
        <br><br><br>
      </section>

      {% if page.nosidebar %}
      {% else %}
      <aside id="sidebar">
      </aside>
      {% endif %}
    </div>
  </div>

  <script defer type="text/javascript" src="/assets/js/darkreader.js"></script>
  <script defer type="text/javascript" src="/assets/js/customize.js"></script>
</body>

</html>